aioredis==2.0.1
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
asyncpg==0.25.0
autopep8==1.6.0
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
databases==0.5.5
Deprecated==1.2.13
fastapi==0.75.0
greenlet==1.1.2
h11==0.13.0
httptools==0.3.0
idna==3.3
importlib-metadata==4.11.2
packaging==21.3
passlib==1.7.4
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
PyJWT==2.3.0
pyparsing==3.0.7
python-dotenv==0.19.2
python-multipart==0.0.5
PyYAML==6.0
redis==4.1.4
requests==2.27.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
toml==0.10.2
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.5
watchgod==0.7
websockets==10.2
wrapt==1.14.0
zipp==3.7.0
